body{

     background-color:  rgb(197, 197, 197);
     width: 100%;
     height: 100%;
     color: #d3dbd8;

     font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;

}

header{

    display: flex;
    background: rgb(99,120,205);
    background: linear-gradient(90deg, rgba(99,120,205,1) 30%, rgba(100,95,180,1) 61%, rgba(118,116,148,1) 80%);
    width: 95%;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 10px;
  
 
  
}

.logo{
    display: flex;
    width: 110px;
    position: relative;
    left: 150px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;


}



.list-menu{
    display: flex;  
    list-style: none;   
    position: relative;
    right: 150px;
    
   }

.nav-item{

    padding:10px;
    border: solid #d3dbd8;
    border-radius: 30px;
    margin: 5px;
    font-size: 25px;


    
}

.nav-item a{

    text-decoration: none;
    color:#d3dbd8;

}

a:hover{

    color:purple;
}

.container{
    display: flex;
    background: rgb(99,120,205);
    background: linear-gradient(90deg, rgba(99,120,205,1) 30%, rgba(100,95,180,1) 61%, rgba(118,116,148,1) 80%);
    width: 95%;
    margin-left: 40px;
    border: solid;
    border-radius: 10px;


}

.textointro{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

h1{

    border-style:double;
    border-radius: 15px;
    padding: 15px;

    background: rgb(155,69,204);
    background: linear-gradient(90deg, rgba(155,69,204,1) 25%, rgba(139,100,145,1) 57%, rgba(148,116,133,1) 80%);
}

p{
    margin-left: 40px;
    margin-right: 20px;
    font-size: 25px;
    border-style:double;
    border-radius: 15px;
    padding: 10px;
    background: rgb(155,69,204);
    background: linear-gradient(90deg, rgba(155,69,204,1) 25%, rgba(139,100,145,1) 57%, rgba(148,116,133,1) 80%);
}

.imagenintro{

    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    

                        
}

.imgempresa{
display: flex;
width: 60%;
height: 60%;
border-radius: 50px;
}

.botones{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.solicitarver{
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    background: rgb(155,69,204);
    background: linear-gradient(90deg, rgba(155,69,204,1) 25%, rgba(139,100,145,1) 57%, rgba(148,116,133,1) 80%);
    border-radius: 15px;
    color: white;

}